<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Add Item</title>
</head>
<body>
    <div class = "container">
        <div class = "top">
            <h1>Add Item</h1>
        </div>
        <div class = "panel_two">
            <p><a href = /logout>Log Out</a></p>
        </div>
        <div class = "add_item">
            <form action = "/add_item" method = "POST">
                {% csrf_token %}
                {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}
            
                <div class="row mb-3">
                    <label for="item" class="col-sm-1 col-form-label">Item</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="item" name="item">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="description" class="col-sm-1 col-form-label">Description</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="description" name="description">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="description" class="col-sm-1 col-form-label">Price</label>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" id="price" name="price">
                    </div>
                </div>
                <button type="submit" class="btn">Add</button>
                <p><a href =/all_items class="btn">Cancel</a></p>
            </form>
        </div>
    </div>
</body>
</html>