<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Item Information</title>
</head>
<body>
    <div class = "container">
        <div class = "top">
            <h1>Item Description</h1>
        </div>
        <div class = "item_panel">
            <p><a href = /all_items>Back</a></p>
            <p><a href = "view_cart">View Cart</a></p>
            <p><a href = /logout>Log Out</a></p>
        </div>
        <div class = "cart_items">
            {% if item.uploaded_by.id != request.session.userid %}
            <p>-------------------</p>
            <p>| Image goes here |</p>
            <p>-------------------</p>
            <p>{{item.item}}</p>
            <p>{{item.description}}</p>
            {%else%}
            <p>-------------------</p>
            <p>| Image goes here |</p>
            <p>-------------------</p>
            <p>{{item.item}}</p>
            <p>{{item.description}}</p>
            <p>${{item.price}}</p>
            <p><a href="/item/{{item.id}}/edit" class="btn btn-primary">Edit</a></p>
            <p><a href="/item/{{item.id}}/delete">Delete</a></p>
            {%endif%}
        </div>
    </div>

</body>
</html>